/* Global styles */

body {
  font-family: 'Sofia', sans-serif;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #f44336;
}

/* Home section */

#home {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

#home h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#home p {
  font-size: 1.5rem;
}

/* Reviews section */

#reviews {
  background-color: #fff;
  padding: 50px;
}

#review-container {
  max-width: 600px;
  margin: 0 auto;
}

#review-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#review-form input,
#review-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

#review-form button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

#review-form button:hover {
  background-color: #c62828;
}

/* About section */

#about {
  background-color: #f9f9f9;
  padding: 50px;
}

#about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.5rem;
}

/* Contact section */

#contact {
  background-color: #fff;
  padding: 50px;
}

#contact h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#contact ul {
  list-style: none;
  margin-bottom: 20px;
}

#contact ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

#contact a {
  text-decoration: none;
  color: #f44336;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}
